.contanier{
    max-width: 80%;
    width: 30%;
    height: 590px;
    margin: 0% 40%;
    background-color: #638596;
    padding-left: 35px;
    padding-top: 55px;
    align-content: center;
}



.e1{
    width: 25px;
    
} 